body {
    font-size: 18px;
    max-width: 1500px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #018ad2; 
 }

 a:hover {
    color:  #c00;
 } 

 button {
    padding: 8px 12px;
 }

 p {
    margin: 16px 0px;
 }

 ol,
 ul {
    padding-left: 20px;
 }

 iframe {
    border: 1px dashed  #ccc;
 }

 .review-img {
    float: left;
    padding: 0 16px 16px 0;
 }

 .review-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
